@import '~styles.scss';

.container {
  position: relative;
  padding: 8px;
  background: $background;

  h1 {
    text-align: center;
    margin: 3px 0px;
  }

  span {
    font-family: 'Muli', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: $secondary;
    position: absolute;
    top: 19px;
    right: 23px;
  }
}
