<div class="container" *ngIf="isOpen" [@openPane]="isOpen">
  <div class="title">
    <div>Mortgage</div>
  </div>
  <div class="content">
    <div class="mortgage">
      <div class="row first" (click)="updateMortgageFactor('purchasePrice', mortgageFactors.purchasePrice)">
        <h3>Purchase Price</h3>
        <p>{{ mortgageFactors.purchasePrice | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateMortgageFactor('downPayment', mortgageFactors.downPayment)">
        <h3>Down Payment</h3>
        <p>{{ mortgageFactors.downPayment | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateMortgageFactor('rate', mortgageFactors.rate, true, 1)">
        <h3>Interest Rate</h3>
        <p>{{ mortgageFactors.rate | percent }}</p>
      </div>
      <div class="row" (click)="updateMortgageFactor('loanTerm', mortgageFactors.loanTerm)">
        <h3>Loan Term</h3>
        <p>{{ mortgageFactors.loanTerm }} years</p>
      </div>
      <div class="row" (click)="updateMortgageFactor('propertyTax', mortgageFactors.propertyTax)">
        <h3>Annual Property Tax</h3>
        <p>{{ mortgageFactors.propertyTax | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateMortgageFactor('hoi', mortgageFactors.hoi)">
        <h3>Annual Insurance Premium</h3>
        <p>{{ mortgageFactors.hoi | number:'1.0-0' }}</p>
      </div>
    </div>
    <div class="button-container">
      <span class="spacer"></span>
      <button class="close-button" (click)="closePane()">Close</button>
    </div>
  </div>
</div>
