@import '~styles.scss';

.container {
  position: absolute;
  left: 0;
  z-index: 2;
  background-color: $white;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  .title {
    order: 1;
    flex-basis: auto;
    width: 65px;
    background-color: $primary;

    div {
      transform: rotate(-90deg);
      position: relative;
      bottom: -112px;
      font-family: 'Muli', Arial, sans-serif;
      font-weight: 100;
      font-size: 24px;
      color: $secondary;
      text-transform: uppercase;
    }
  }

  .content {
    order: 2;
    flex-grow: 1;
    background: $background;
    display: flex;
    flex-direction: column;

    .mortgage {
      flex-grow: 1;
      overflow: scroll;

      .row {
        padding: 0 15px 0 45px;

        &.first {
          padding-top: 32px;
        }

        h3 {
          font-family: 'Muli', Arial, sans-serif;
          font-size: 18px;
          font-weight: 100;
          text-transform: uppercase;
          color: $secondary;
          margin: 0;
          line-height: 23px;

          &.add-expense {
            font-style: italic;
          }
        }

        p {
          font-family: 'News Cycle', Arial, sans-serif;
          font-size: 18px;
          color: $white;
          line-height: 30px;
          margin-top: 12px;
          margin-bottom: 30px;
        }
      }
    }

    .button-container {
      flex-basis: auto;
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 92px;

      .spacer {
        flex-grow: 1;
      }

      .close-button {
        background: $secondary;
        border: none;
        height: 46px;
        width: 156px;
        font-family: 'Muli', Arial, sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: $background;
        margin: 23px 23px 23px 0px;
      }
    }
  }
}
