<div class="container" (click)="onIncomeClicked()">
  <div class="height-container">
    <div class="instructions-container" 
      *ngIf="_showInstructions" 
      (@showHide.done)="showIncome()"
      [@showHide]="_showInstructions">
      <div class="instructions">
        <p>Welcome!</p>
        <p>
          With this app, you can quickly 
          <span class="highlight">calculate cashflow</span> 
          for an investment property when you're on the go.</p>
        <p>Click <span class="highlight">HERE</span> to get started!</p>
      </div>
    </div>
    <div class="income-container" 
      *ngIf="_showIncome" 
      [@showHide]="_showIncome">
      <div class="label" *ngIf="_showLabel" [@showHide]="_showLabel">
        cashflow
      </div>
      <span class="sign">$</span>
      <span class="income">{{ income | number:'1.0-0' }}</span>
      <span class="rate">/mo</span>
    </div>
  </div>
</div>
