@import "~styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  .height-container {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $iphone7) {
      height:: 180px;
    }

    @media screen and (max-width: $iphone6) {
      height:: 180px;
    }

    .income-container {
      position: relative;

      .label {
        font-family: 'Muli', Arial, sans-serif;
        font-size: 14px;
        font-weight: 100;
        color: $secondary;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        position: absolute;
      }

      .sign {
        font-family: 'Muli', Arial, sans-serif;
        font-size: 36px;
        font-weight: 100;
        color: $secondary;
        position: relative;
        top: -1px;
        right: 1px;
      }

      .income {
        font-family: 'News Cycle', Arial, sans-serif;
        font-size: 72px;
        color: $accent;
        letter-spacing: 4px;
      }

      .rate {
        font-family: 'Muli', Arial, sans-serif;
        font-size: 20px;
        font-weight: 100;
        color: $secondary;
        position: relative;
        top: -2px;
        left: -4px;
      }
    }

    .instructions-container {
      width: 284px;

      .instructions {
        font-family: 'Muli', Arial, sans-serif;
        font-size: 18px;
        font-weight: 100;
        color: $secondary;
        text-align: center;

        .highlight {
          color: $accent;
        }
      }
    }
  }
}
