<div class="container" 
  *ngIf="isOpen" 
  [@openPane]="isOpen" 
  (@openPane.done)="resetAnimations()">
  <div class="row first">
    <h3>Here's a link to share!</h3>
  </div>
  <div class="row link">
    <div class="share-link" 
      *ngIf="!_hideLink"
      [@hideLink]="_hideLink" 
      (@hideLink.done)="showConfirmation()">
      <div class="domain" 
        [ngClass]="{ 'no-params' : urlParams === '' }">
        gocashflowapp.com
      </div>
      <div class="url-params">{{ urlParams }}</div>
    </div>
    <div class="confirmation-container" 
      *ngIf="_showConfirmation"
      [@showConfirmation]="_showConfirmation">
      <div class="confirmation">
        Copied!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="buttons">
      <button class="close-button" (click)="closePane()">Close</button>
      <input style="display: none;" type="text" [(ngModel)]="shareLink">
      <button class="copy-button" type="button" ngxClipboard [cbContent]="shareLink" (cbOnSuccess)="onCopyLink()">Copy to Clipboard</button>
    </div>
  </div>
</div>
