@import '~styles.scss';

.container {
  position: absolute;
  bottom: -100vh;
  z-index: 2;
  background-color: $background;
  width: 100%;
  height: 100%;
  overflow: scroll;

  .row {
    padding: 45px 23px 0px 23px;

    &.first {
      padding-top: 57px;
    }

    &.last {
      padding-bottom: 40px;
    }

    &.link {
      height: 64px;
      position: relative;
      padding-left: 0px;
      padding-right: 0px;
    }

    h3 {
      font-family: 'Muli', Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: $white;
      line-height: 23px;
      margin: 0;
    }

    .share-link {
      margin: 0;
      padding-left: 23px;
      padding-right: 23px;

      .domain {
        color: $accent;
        font-family: 'Jura', Arial, sans-serif;
        font-weight: normal;
        font-size: 28px;
        line-height: 18px;
        margin-bottom: 10px;

        &.no-params {
          margin-top: 15px;
        }
      }

      .url-params {
        color: $secondary;
        font-family: 'Muli', Arial, sans-serif;
        font-size: 14px;
        font-weight: 100;
        line-height: 18px;
      }
    }

    .confirmation-container {
      position: absolute;
      width: 100%;

      .confirmation {
        font-family: 'Muli', Arial, sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: $secondary;
        text-align: center;
        text-transform: uppercase;
        margin-top: 60px;
      }
    }

    .buttons {
      text-align: center;

      .close-button {
        background: $secondary;
        color: $background;
        border: none;
        font-family: 'Muli', Arial, sans-serif;
        font-weight: 100;
        font-size: 18px;
        width: 145px;
        height: 46px;

        @media screen and (max-width: $iphone7) {
          width: 145px;
          height: 46px;
        }
        @media screen and (max-width: $iphone6) {
          width: 127px;
          height: 46px;
        }
      }

      .copy-button {
        background: $primary;
        color: $white;
        border: none;
        font-family: 'Muli', Arial, sans-serif;
        font-weight: 100;
        font-size: 18px;
        margin-left: 6px;
        width: 208px;
        height: 46px;

        @media screen and (max-width: $iphone7) {
          width: 208px;
          height: 46px;
        }
        @media screen and (max-width: $iphone6) {
          width: 188px;
          height: 46px;
        }
      }
    }
  }
}
