<div class="container">
  <pic-expenses-pane 
    [isOpen]="isExpensesPaneOpen" 
    [expenses]="expenses"
    (onClosed)="closePane($event)"
    (onFactorClicked)="openInput($event)">
  </pic-expenses-pane>
  <pic-mortgage-pane 
    [isOpen]="isMortgagePaneOpen" 
    [mortgageFactors]="mortgageFactors"
    (onClosed)="closePane($event)"
    (onFactorClicked)="openInput($event)">
  </pic-mortgage-pane>
  <gca-share-pane 
    [isOpen]="isSharePaneOpen"
    [urlParams]="urlParams"
    [shareLink]="shareLink"
    (onClose)="closePane($event)">
  </gca-share-pane>
  <pic-universal-input 
    [isOpen]="isInputOpen" 
    [factor]="factor"
    [decimalPlace]="factor.decimalPlace"
    (onClose)="closeInput()"
    (onAccept)="updateFactor($event)">
  </pic-universal-input>
  <pic-calc-header (onCleared)="clear()"></pic-calc-header>
  <pic-income 
    [income]="income"
    [instructionsShown]="instructionsShown"
    (onShowIncome)="disableInstructions()">
  </pic-income>
  <pic-breakdown [mortgage]="mortgage" 
    [expenses]="totalExpenses"
    [rent]="rent"
    [cashOnCash]="cashOnCash"
    [principal]="principal"
    [isDimmed]="isBreakdownDimmed"
    (onMortgageClicked)="openPane($event)"
    (onExpensesClicked)="openPane($event)"
    (onRentClicked)="openInput($event)">
  </pic-breakdown>
  <pic-share 
    (onShareClicked)="openPane($event)"
    [isDimmed]="isShareDimmed">
  </pic-share>
</div>
