@import '~styles.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  pic-calc-header {
    flex-basis: auto;
  }

  pic-income {
    flex-grow: 1;
    background: $background;
    border-bottom: 1px solid $grey;
    position: relative;
  }

  pic-breakdown {
    height: 220px;
    background: $background;
    border-bottom: 1px solid $grey;
    position: relative;
  }

  pic-share {
    flex-basis: auto;
    position: relative;
  }
}
