<div class="container">
  <div class="button-container">
    <div class="email-link-container">
      <a class="email-link" 
        href="mailto:gocashflowapp@gmail.com?subject=Go Cashflow App feedback"
        (click)="onEmailUsClicked()">
        Email Us
      </a>
    </div>
    <span class="spacer"></span>
    <button (click)="shareCashflow()">Share</button>
  </div>
</div>
<div class="obscure-pane" *ngIf="isDimmed"></div>
