@import "~styles.scss";

.container {
  background: $background;
  position: relative;
  height: 90px;

  .button-container {
    display: flex;
    flex-direction: row;

    .email-link-container {
      margin: 23px 0px 23px 23px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .email-link {
        font-family: 'Muli', Arial, sans-serif;
        font-weight: 100;
        font-size: 18px;
        color: $secondary;
        width: 156px;
        text-align: center;
        text-decoration: none;
      }
    }

    .spacer {
      flex-grow: 1;
    }

    button {
      background: $primary;
      border: none;
      height: 46px;
      width: 156px;
      font-family: 'Muli', Arial, sans-serif;
      font-weight: 100;
      font-size: 18px;
      color: $white;
      margin: 23px 23px 23px 0px;
    }
  }
}

.obscure-pane {
  position: absolute;
  background-color: $background;
  opacity: 0.9;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
