@import '~styles.scss';

.mobile-layout {
  background-color: #FFF;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 736px;
}

.mobile-layout {
  max-width: $iphone7;
}

@media screen and (max-width: $iphone6) {
  .mobile-layout {
    max-width: $iphone6;
  }
}

@media screen and (max-width: $iphone7) {
  .mobile-layout {
    max-width: $iphone7;
  }
}

