@import "~styles.scss";

.container {

  .row {
    display: flex;
    flex-direction: row;
    height: 110px;

    .column {
      flex: 1;
      padding: 0px;
      position: relative;

      h3 {
        font-family: 'Muli', Arial, sans-serif;
        font-weight: 100;
        font-size: 18px;
        text-transform: uppercase;
        color: $secondary;
        margin: 0;
      }

      p {
        font-family: 'News Cycle', Arial, sans-serif;
        font-size: 18px;
        color: $white;
        margin-top: 14px;
        margin-bottom: 0px;
      }

      .svg-wrapper {
        height: 100%;
        margin: 0 auto;
        position: relative;
        width: 100%;
      }

      .shape {
        fill: transparent;
        stroke-width: 0px;
        stroke: $accent;
      }

      .content {
        position: relative;
        top: -90px;
        padding-left: 25px;
      }

      @keyframes draw {
        0% {
          stroke-width: 0px;
        }
        50% {
          stroke-width: 6px;
        }
        100% {
          stroke-width: 0px;
        }
      }

      .svg-wrapper.show .shape {
        -webkit-animation: 0.3s draw linear forwards;
        animation: 0.3s draw linear forwards;
      }
    }
  }
}

.obscure-pane {
  position: absolute;
  background-color: $background;
  opacity: 0.9;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
