<div class="container">
  <div class="row">
    <div class="column" (click)="openPane('mortgage')">
      <div [ngClass]="{ 'show': _showMortgageBorder }" class="svg-wrapper">
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
        </svg>
        <div class="content">
          <h3>mortgage</h3>
          <p>{{ mortgage | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>
    <div class="column" (click)="openInput()">
      <div [ngClass]="{ 'show': _showRentBorder }" class="svg-wrapper">
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
        </svg>
        <div class="content">
          <h3>rent</h3>
          <p>{{ _rent.value | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row last">
    <div class="column" (click)="openPane('expenses')">
      <div [ngClass]="{ 'show': _showExpensesBorder }" class="svg-wrapper">
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
        </svg>
        <div class="content">
          <h3>expenses</h3>
          <p>{{ expenses | number:'1.0-0' }}</p>
        </div>
      </div>
    </div>
    <div class="column" [ngSwitch]="_metric" (click)="swapMetric()">
      <div [ngClass]="{ 'show': _showCashOnCashBorder }" class="svg-wrapper">
        <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
          <rect class="shape" height="100%" width="100%" />
        </svg>
        <div class="content">
          <div *ngSwitchCase="'cashOnCash'" [@showHide]>
            <h3>cash on cash</h3>
            <p>{{ cashOnCash | percent:'1.0-2' }}</p>
          </div>
          <div *ngSwitchCase="'principal'" [@showHide]>
            <h3>principal</h3>
            <p>{{ principal | number:'1.0-0' }}</p>
          </div>
          <div *ngSwitchDefault>
            <h3>cash on cash</h3>
            <p>{{ cashOnCash | percent:'1.0-2' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="obscure-pane" *ngIf="isDimmed"></div>
