/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Jura|Muli:200,400|News+Cycle');

/* Colors */
$substrate: #f2f2f2;
$background: #1C3041;
$primary: #048BA8;
$accent: #55EDFF;
$secondary: #ADCAD6;
$white: #FFFFFF;
$grey: #979797;

/* Dimensions */
$iphone6: 375px;
$iphone7: 414px;

body {
  background-color: $substrate;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Jura', Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: $white;
}

h2,
span,
input,
sub {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}

