<div class="container" *ngIf="isOpen" 
  (@openPane.done)="resetField($event)"
  [@openPane]="isOpen">
  <form (submit)="onAcceptClicked()">
    <label for="field">{{ _field.name | camelToHuman }}
      <input id="field" 
        name="field" 
        type="tel" 
        placeholder="{{ _placeholder }}" 
        picActiveField
        (focus)="removePlaceholder()"
        (blur)="resetPlaceholder()"
        (keyup)="placeDecimal($event)"
        [(ngModel)]="_value"/>
    </label>
    <div class="buttons">
      <button class="cancel" (click)="closeInput()">Cancel</button>
      <button class="accept" type="submit">Accept</button>
    </div>
  </form>
</div>
