@import '~styles.scss';

.container {
  position: absolute;
  bottom: -100vh;
  z-index: 2;
  background-color: $background;
  width: 100%;
  height: 100%;
  overflow: scroll;

  form {
    padding: 25px;

    label {
      color: $white;
      font-family: 'Muli', Arial, sans-serif;
      font-size: 18px;
      font-weight: 100;
      text-transform: uppercase;

      input {
        background: $background;
        border-top: none;
        border-right: none;
        border-left: none;
        border-color: $white;
        color: $grey;
        display: block;
        font-family: 'News Cycle', Arial, sans-serif;
        font-size: 37px;
        margin-top: 15px;
        opacity: 0.25;
        padding: 0px;
        text-align: center;
        width: 100%;
      }
    }
  }

  .buttons {
    text-align: right;
    margin-top: 50px;

    .cancel {
      background: $secondary;
      color: $background;
      border: none;
      font-family: 'Muli', Arial, sans-serif;
      font-weight: 100;
      font-size: 18px;
      width: 145px;
      height: 46px;

      @media screen and (max-width: $iphone7) {
        width: 145px;
        height: 46px;
      }
      @media screen and (max-width: $iphone6) {
        width: 127px;
        height: 46px;
      }
    }

    .accept {
      background: $primary;
      color: $white;
      border: none;
      font-family: 'Muli', Arial, sans-serif;
      font-weight: 100;
      font-size: 18px;
      margin-left: 6px;
      width: 208px;
      height: 46px;

      @media screen and (max-width: $iphone7) {
        width: 208px;
        height: 46px;
      }
      @media screen and (max-width: $iphone6) {
        width: 188px;
        height: 46px;
      }
    }
  }
}
