<div class="container" *ngIf="isOpen" [@openPane]="isOpen">
  <div class="title">
    <div>Expenses</div>
  </div>
  <div class="content">
    <div class="expenses">
      <div class="row first" (click)="updateExpense('maintenance', expenses.maintenance)">
        <h3>Maintenance</h3>
        <p>{{ expenses.maintenance | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateExpense('vacancyRate', expenses.vacancyRate, true)">
        <h3>Vacancy</h3>
        <p>{{ expenses.vacancy | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateExpense('utilities', expenses.utilities)">
        <h3>Utilities</h3>
        <p>{{ expenses.utilities | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateExpense('associationFee', expenses.associationFee)">
        <h3>Association Fee</h3>
        <p>{{ expenses.associationFee | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateExpense('management', expenses.management)">
        <h3>Property Management</h3>
        <p>{{ expenses.management | number:'1.0-0' }}</p>
      </div>
      <div class="row" (click)="updateExpense('other', expenses.other)">
        <h3>Other</h3>
        <p>{{ expenses.other | number:'1.0-0' }}</p>
      </div>
    </div>
    <div class="button-container">
      <span class="spacer"></span>
      <button class="close-button" (click)="closePane()">Close</button>
    </div>
  </div>
</div>

